*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Helvetica ,Arial ,sans-serif;
    background-color: aliceblue;
}
a {
    text-decoration:none;
}

.container.left img{
    width:200px;

    /*height: 300px ;*/
    margin:-18px;

}
.container{
    display:flex;
    height: 100vh;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 40px;
    gap:100px;
    /*justify-content: center;*/
}
.container.left {
    margin-top:-120px;
}
h2{
    font-weight: inherit;
    margin-top:16px;
    line-height:1.3;
    font-size:24px;
}
.container.right{
    text-align :center;
}
form{
    display: flex;
    flex-direction:column;
    gap:14px;
}
.form-container{
    padding:16px;
    border-radius: 8px;
    background: white;
    box-shadow:0 2px 8px rgba(0,0,0,.2),
0 4px 2px rgba(0,0,0,.2);
    width :368px;

    margin-bottom:30px;
}
form input{
    padding :16px;
    border-radius: 8px;
    font-size: 14px ;
    border:1px solid #dddfe2;
    font-family: Helvetica ,Arial ,sans-serif;
}
form input:focus::placeholder{
    color: #e1e1e1;
}
form input:focus{
    outline:1px solid #1d8cca;
}
form a {
    font-size: 14px;
    color: #1877f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
    text-align: center;
}
form a:hover{
    text-decoration: underline;
}
.container .right a:hover{
    text-decoration: underline;
}
.btn{
    background: #2d78ed;
    color: #fff;
    border: none;
    padding : 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}
.btn:hover{
    background: #2d78ed;
}
.btn2{
    background: #7dd160;
    color: #fff;
    border: none;
    padding : 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    width:fit-content;
    margin:0 auto;
    transition: all 300ms ease;

    align-content: center;
}
.btn2:hover{
    background: #7dd160;
}
.right p{
    font-size:14px;
    text-align: center;

}
.right p a{
    color: #222222;
}
@media (max-width: 900px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    h2{
        font-size: 20px;
        line-height: 1.2;
    }
    .container.left {
        margin-top:40px;
    }
}