*{
    box-sizing:border-box;
}
body{
    background: #000000;   /* темнее */

    margin:0;
    font-family: serif;
}
.container .left img{
    width:450px;
    align-items: center;

}
.left{
    display: flex;
    align-items: center;
    flex-direction: column;

    /*width: 30%;*/
    background: #000000;
    /*justify-content: flex-start;*/
}

.right{
    width: 40%;
    background: #202c32;
    border-left: 1px solid #7d7d87;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: auto;
    padding: 0 5vw;
    gap: clamp(40px, 8vw, 100px);
    justify-content: space-between;

}
.container .left {
    margin-top:0px;
}
h1{
    font-weight: inherit;
    margin-top: 16px;
    line-height:1.3;
    font-size:65px;
}
.container.right{
    text-align :center;
    margin-top:-120px;

}
form{
    display: flex;
    flex-direction:column;
    gap:14px;
}
.form-container {
    padding: 32px;
    border-radius: 8px;
    background: #202c32;
    width: 360px;
    height: 560px;
    margin: 0 auto;
}
form input{
    padding :8px;
    border-radius: 88px;
    font-size: 10px ;
    /*border: 0.1px solid #6098ff;*/
    font-family: Helvetica ,Arial ,sans-serif;
}
form input:focus::placeholder{
    color: #7d7d87;
}
/*form input:focus{*/
/*    outline:1px solid #7d7d87;*/
/*}*/
form a {
    font-size: 14px;
    color: #ffffff;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.btn2 {
    font-family: monospace;
    background: none;        /* убираем фон */
    border: none;            /* убираем рамку */
    padding-bottom: 10px;
    padding-top: 0; /* убираем лишние отступы */
    margin: 0;
    color: #ffffff;          /* как у ссылки */
    font-size: 8px;
    cursor: pointer;
    transition: color 0.2s ease;/* курсор руки */
}
.btn2:hover {
    background:#7d7d87;;
    color: #eeeefa;   /* ярче при наведении */
    border-radius: 88px;

}

h5{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
}
form input{
    background: transparent;
    border: 1px solid #e5efff;
    border-radius: 8px;
    color: white;
}
.btn{
    font-family: monospace;
    background: #2d78ed;
    color: #fff;
    border: none;
    padding : 8px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    font-size: 10px;
    transition: color 0.2s ease
}
a{
    text-decoration: none;
}
.left span{
    font-size: 16px;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #b102a8, #ffab09);
}
.left h1{
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    /*margin: 0;*/
    /*padding: 0;*/

}
.btn3 {
    background: transparent;
    border:1px solid #dddfe2;
    color: #ffffff;
    padding: 8px;
    border-radius: 999px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: color  0.2s ease;
}
.btn3:hover {
    background:#7d7d87;;
    color: #eeeefa;   /* ярче при наведении */
    border-radius: 88px;

}
.btn4:hover {
    background:#7d7d87;;
    color: #eeeefa;   /* ярче при наведении */
    border-radius: 88px;

}
.btn4 {
    background: transparent;
    border: 1px solid #1877f2; /* синяя рамка */
    color: #1877f2;
    padding: 8px;
    margin-top: 1px;
    border-radius: 999px; /* делает её овальной */
    font-size: 10px;
    cursor: pointer;
    transition: color 0.2s ease;
}

